{% extends 'indexadmin.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="{% url 'update_faci' %}">
    <center><h4>Edit Facility details</h4></center>
  <div align="center">
    <table width="200" border="1" id="customers">
      <tr>
        <th>FACILITY NAME </th>
        <td><label>
          <input type="text" name="textfield"  value="{{val.faci_name}}"/>
        </label></td>
      </tr>
      <tr>
        <th>FACILITY DESCRIPTION </th>
        <td><label>
          <textarea name="textarea">{{val.desc}}</textarea>
        </label></td>
      </tr>
      <tr>
        <th>RATE</th>
        <td><label>
          <input type="text" name="textfield2" value="{{val.rate}}"/>
        </label></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label>
          <input type="submit" name="Submit" value="Update" class="btn btn-primary"/>
        </label></td>
      </tr>
      </table>
  </div>
</form>
</body>
</html>
{% endblock %}
