{% extends 'indexadmin.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
    <img class="w-100" src="./static/img/adminhome1.jpg" alt="Image" style="width:900px;height:600px;">

<!--  <div align="center">-->
<!--    <table width="200" border="1">-->
<!--      <tr>-->
<!--        <th scope="row"><a href="manage_employee">Manage Employee</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="manage_rooms">Manage Rooms</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="manage_facilities">Manage Facilities</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="manage_events">Manage Events</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="manage_package">Manage Packages</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="manage_offers">Manage Offers</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="view_cottage">Manage Cottages</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="view_users">View Users</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="manage_booking_info">Manage Booking Info</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="manage_purchase_det">Manage Material_purchase</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="manage_event_booking">Manage Events Booking</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="approve_reject_leave">Manage Leave Info</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="view_attendance">View Attendance</a></th>-->
<!--      </tr>-->

<!--      <tr>-->
<!--        <th scope="row"><a href="view_feedback_rating">View Feedback_Rating</a></th>-->
<!--      </tr>-->
<!--       <tr>-->
<!--        <th scope="row"><a href="">View User Payment</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="view_reports_resort">Resort report</a></th>-->
<!--      </tr>-->

<!--      <tr>-->
<!--        <th scope="row"><a href="/">LOGOUT</a></th>-->
<!--      </tr>-->
<!--      </table>-->
<!--  </div>-->
</form>
</body>
{% endblock %}