{% extends 'indexkitchen.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="{% url 'view_rooms' %}">
  <br>
  <br>
      <center><h4> View Salary and job details</h4></center>

  <div align="center">
    <table width="200" border="1" id="customers">
      <tr>
        <th scope="col">Salary Amount</th>
        <th scope="col">Job Title</th>
      </tr>
      <tr>
        <td>{{val.salary}}</td>
        <td>{{val.jobtitle}}</td>
      </tr>

      </table>
  </div>
</form>
</body>
</html>
{% endblock %}
