{% extends 'indexkitchen.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
    <img src="./static/img/kitchen_home.webp" alt="Image" style="width:1270px;height:600px;">
<!--  <div align="center">-->
<!--    <table width="200" border="1">-->
<!--      <tr>-->
<!--        <th scope="row"><a href="view_rooms">VIEW ROOMS</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="view_events">VIEW EVENTS</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="view_packages">VIEW PACKAGES</a></th>-->
<!--      </tr>-->
<!--       <tr>-->
<!--        <th scope="row"><a href="view_facilities">VIEW FACILITIES</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="view_offers">VIEW OFFERS</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="">VIEW FOOD MENU</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="view_book_details">VIEW BOOKING STATUS</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="user_payments">PAYMENT</a></th>-->
<!--      </tr>-->

<!--      <tr>-->
<!--        <th scope="row"><a href="emp_chat">CHAT </a></th>-->
<!--      </tr>-->

<!--      <tr>-->
<!--        <th scope="row"><a href="send_feedback_rating">SEND FEEDBACK</a></th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th scope="row"><a href="/">LOGOUT</a></th>-->
<!--      </tr>-->
<!--      </table>-->
<!--    <a href="#"></a></div>-->
</form>
</body>
</html>
{% endblock %}
