{% extends 'indexroom.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
  <br>
  <br>
  <br>
  <br>

  <center><h4> Room Booking Details </h4></center>
  <div align="center">
    <table width="200" border="1" id="customers">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Cottage Number</th>
        <th scope="col">Room Number</th>
        <th scope="col">Package Name</th>
        <th scope="col">Date_Arrival</th>
        <th scope="col">Date_Vaccate</th>
        <th scope="col">Phone</th>

      </tr>
{% for i in val %}
      <tr>
        <td>&nbsp;{{i.user_id.firstname}} {{i.user_id.lastname}}</td>
        <td>{{i.room_id.cottage_id.cottage_num}}</td>
        <td>{{i.room_id.room_number}}</td>
        <td>{{i.package_id.pack_name}}</td>
        <td>&nbsp;{{i.date_arrival}}</td>
        <td>{{i.date_vaccate}}</td>
        <td>&nbsp;{{i.user_id.phone}}</td>
      </tr>
{% endfor %}
      </table>
  </div>
</form>
</body>
</html>
{% endblock %}
