{% extends 'indexroom.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <br>
  <br>

    <center><h4>Users Event Booking Details</h4></center>
  <div align="center">
    <table width="200" border="1" id="customers">
      <tr>
         <th scope="col">USERS NAME </th>
        <th scope="col">COTTAGE NUMBER </th>
        <th scope="col">ROOM NUMBER </th>
        <th></th>
      </tr>
      {% for i in val %}
      <tr>
        <td>&nbsp;{{i.user_id.firstname}} {{i.user_id.lastname}}</td>
        <td>{{i.room_id.cottage_id.cottage_num}}</td>
        <td>{{i.room_id.room_number}}</td>
        <td><a href="{% url 'event_view_booking' id=i.user_id.loginid.id %}" class="btn btn-primary">View event details</a></td>
      </tr>
      {% endfor %}
    </table>
</form>
</body>
</html>
{% endblock %}
