{% extends 'indexuser.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="{% url 'add_event_booking' %}">
    <br>
    <br>
        <center><h4> Book Events</h4></center>

  <div align="center">
    <table width="200" border="1" id="customers">
      <tr>
        <th scope="row">NAME</th>
        <td><label>
           {{val1.firstname}} {{val1.lastname}}
        </label></td>
      </tr>
      <tr>
        <th scope="row">PHONE</th>
        <td><label>
            {{val1.phone}}
        </label></td>
      </tr>
       <tr>
        <th scope="row"> EVENT NAME </th>
        <td><label>
           <select name="select">
            {% for i in val %}
            <option value="{{i.id}}">{{i.event_name}}</option>
            {% endfor %}
          </select>
        </label></td>
      </tr>
      <tr>
        <th scope="row">DATE</th>
        <td><label>
          <input type="date" name="textfield4" required min="{{cdt}}"/>
        </label></td>
      </tr>
      <tr>
        <th scope="row">REQUIREMENTS</th>
        <td><label>
          <textarea name="textarea" required></textarea>
        </label></td>
      </tr>
      <tr>
        <td colspan="2" scope="row"><label>
          <input type="submit" name="Submit" value="BOOK" class="btn btn-primary" />
        </label></td>
      </tr>
      </table>
  </div>
</form>
</body>
</html>
{% endblock %}
