{% extends 'indexuser.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="us_continue_menu">
  <br>
  <br>
  <br>
    <center><h4>FOOD MENU</h4></center>
  <div align="center">
    <table width="100" border="1" id="customers">
      <tr>
        <th>Item Name </th>
        <th>PHOTO</th>
        <th>Amount</th>
        <th></th>

      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.item_name}}</td>
        <td><img src="{{i.photo.url}}" width="300" height="200"></td>
        <td>{{i.rate}}</td>
        <td><p><a href="{% url 'us_continue_menu' i.id %}" class="btn btn-success">View More.</a></p>
      </tr>
      {% endfor %}
    </table>
  </div>
  <br>

</form>
</body>
</html>
{% endblock %}
